*{
  user-select: none;
}

@media screen and (min-width: 768px) {
  .calendar{
    width: 32rem;
  }
}
@media screen and (max-width: 767px) {
  .calendar{
    height: 20rem;
  }
}

.calendar {
  background: white;
  padding: 1rem;
  border-radius: 10px;
  box-shadow:
    0 3px 6px rgba(0, 0, 0, 0.16),
    0px 3px 6px rgba(0, 0, 0, 0.23);
}

