@media screen and (min-width: 768px) {
  .todo-list-template{
    flex: 1;
  }
}
@media screen and (max-width: 767px) {
  .todo-list-template{
    min-width: 382px;
  }
}
.todo-list-template {
  background: white;
  border-radius: 10px;
  box-shadow:
    0 3px 6px rgba(0, 0, 0, 0.16),
    0px 3px 6px rgba(0, 0, 0, 0.23);
}

.title {
  padding: 1.5rem 1.5rem 0.5rem 1.5rem;
  font-size: 2rem;
  font-weight: 100;
  color: #FFA500;;
  font-weight: 400;
}

.calendar-wrapper {
  width: 100%;
}

.form-wrapper {
  padding: 1rem;
  border-bottom: 0.5px solid #FFA500;;
}

.todos-wrapper {
  height: auto;
  min-height: 5rem;
  overflow: hidden;
}
